.btnBlock .btn {
    display: inline-block;
    border: none;
    background-color:transparent;
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
    color:#fff;
    border-radius:0.5rem;
    transition: 0.3s all ease-out;
    cursor: pointer;
    margin:0  0.7rem;
}
.btnBlock .btn.signin{
    border:2px solid var(--text-color);
    color:var(--text-color);
    transition: all 0.5s ease;
}
.btnBlock .btn.signin:hover{
    border:2px solid var(--text-color);
    background-color:#fff;
    color:#000;
}
.btnBlock .btn.signup{
    border:2px solid #fff;
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease;
}
.btnBlock .btn.signup:hover{
    border:2px solid #fff;
    color:#fff;
    background-color: transparent;
}
.scrolled-navbar .btnBlock .btn.signin{
    border:2px solid #000;
    color:#000;
}
.scrolled-navbar .btnBlock .btn.signup{
    border:2px solid #000;
    background-color: #000;
    color: var(--text-color);
}