/* .contents_container{
    display: flex;
    height:auto;
    width:100%;
  }
  .contents_container  .topics_cont{
    position: fixed;
    left: 0;
    width:max(180px , 18vw);
    height:calc(100% - 13.5vh);
  }
  
  .contents_container  .rightcont{
    position: fixed;
    flex-grow: 1;
    height:100%;
    margin-left:max(180px , 18vw);
    padding:1rem;
    overflow-y:auto;
    overscroll-behavior: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius:0.9rem;
    
  }
.contents_container  .topics_cont .topics{
    width:98%;
    border-top-right-radius:0.9rem;
    border-top-left-radius:0.9rem;
    background-color: #fff; 
    position:relative;
    flex-basis:17%;
    min-width:230px; */
/* padding:0.8rem 0.8rem 0;
}
.contents_container  .topics_cont .topics h2{
    background-color: #ff9900;
    border-top-right-radius:0.9rem;
    border-top-left-radius:0.9rem;
    text-align: center;
    font-size:1.3rem;
    font-weight:500;
    padding:0.7rem;
    color: #fff;

}
.topics ul{
    height:600px;
    margin-top:max(1rem , 2vh);
    list-style: none;
    overflow: auto;   
    background-color: #fff;
}

.topics ul li{
    margin:0.3rem 0;
    padding:0.4rem;
    font-size:1rem;
    font-weight:500;
    transition:0.5s ease; 
}
.contents_container .rightcont .video_note{
    margin:2rem auto;
    width:90%;
    height:100%;
} 
.contents_container .rightcont .video_note .yt_video{
     width:100%;
     height:60vh;
     margin:0 auto;
     box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.6);
}
.contents_container .rightcont .video_note .yt_video div{
    width:100% !important;
    height:100% !important;
    object-fit:cover;
}
.contents_container .rightcont .notes_container{
    width:100%;
    margin:3rem auto;
    border-top-right-radius:1rem;
    border-top-left-radius:1rem;
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.69);
}
.contents_container .rightcont .notes_container h2{
    background-color: #000000;
    color:#fff;
    padding:1rem;
    font-size:1.8rem;
    border-top-right-radius:1rem;
    border-top-left-radius:1rem;
}
.contents_container .rightcont .notes_container .note{
    /* border:1px solid rgba(0,0,0,0.5); */
/* padding:1.5rem;
    line-height:1.3rem;
    overflow: auto;
} */
/* .contents_container .rightcont .video_note{
    position:absolute;
    height: inherit;  
}  */

.contents_container {
  display: flex;
  height: auto;
  width: 100%;
}

.contents_container .topics_cont {
  position: fixed;
  left: 0;
  width: max(180px, 18vw);
  height: calc(100% - 13.5vh);
}

.contents_container .rightcont {
  position: fixed;
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 18vw);
  margin-left: max(180px , 18vw);
  padding: 1rem;
  overflow-y: auto;
  overscroll-behavior: contain;
  background-color: white;
  border-radius: 0.9rem;
}

.contents_container .rightcont .video_note {
  margin: 2rem auto;
  width: 90%;
}

.contents_container .rightcont .video_note .yt_video {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 0px rgba(89, 89, 89, 0.6);
}

.contents_container .rightcont .video_note .yt_video div {
  width: 100% !important;
  height: 100% !important;
  object-fit:cover;
}

.contents_container .rightcont .notes_container {
  width: 100%;
  margin-bottom:10rem;
  margin-top:3rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0px 0px 8px 0px rgba(89, 89, 89, 0.69);
}

.contents_container .rightcont .notes_container h2 {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  font-size: 1.8rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.contents_container .rightcont .notes_container .note {
  padding: 1.5rem;
  line-height: 1.3rem;
  overflow: auto;
}

.contents_container .topics_cont .topics {
  width: 98%;
  border-top-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  background-color: #fff;
}
.contents_container .topics_cont .topics .topic-heading{
  background-color: #ff9900;
  border-top-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
  padding: 0.7rem;
}
.contents_container .topics_cont .topics h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.topics ul {
  height: 600px;
  margin-top: max(1rem, 2vh);
  list-style: none;
  overflow: auto;
  background-color: #fff;
}

.topics ul li {
  margin: 0.3rem 0;
  padding: 0.5rem;
}
.contents_container .rightcont .notes_container .external-resources{
  padding: 1rem 1.5rem;
}
.contents_container .rightcont .notes_container .external-resources a{
  margin:1rem 0;
}