.subsyllabus_con {
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    width: 85vw;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px rgba(89, 89, 89, 0.6);
  }
  .subsyllabus_con .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .subsyllabus_con .row .imgBx {
    width: 280px;
    height: 180px;
  }
  .subsyllabus_con .row .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .subsyllabus_con .row .detail {
    max-width: 950px;
    padding: 0.8rem;
  }
  .subsyllabus_con .row .detail .other_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.7rem auto;
  }
  .subsyllabus_con .row .detail .other_detail > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subsyllabus_con .row .detail p {
    font-weight: 200;
    margin: 0.6rem auto;
    line-height: 1.3rem;
  }
  .subsyllabus_con .row .detail .teacher_sub span:first-child {
    font-weight: 600;
    font-size: 1.1rem;
  }
  .class_heading {
    font-family: "Solway";
    font-style: normal;
    font-size: 1.8rem;
    line-height:2.5rem;
    text-align: center;
    color: #494949;
    text-transform: uppercase;
    letter-spacing:2px;
    word-spacing:2px;
  }

  /* *************************************************************************************** */



.sub_con{
    background:#fff;
    padding:1rem;
    margin:2rem auto;
    border-radius:30px;
    width:85vw;
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.6); ;  
}
.sub_con .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sub_con .row .ImgBx{
    width:280px;
    height:180px; 
}
.sub_con .row .ImgBx img{
    width:100%;
    height:100%;
    object-fit:contain; 
}
.sub_con .row .sub_detail{
    max-width:950px;
    padding:0.8rem;
    line-height:1.5rem;
}

/* ************************************************************************* */



.download_con{
    position: relative;
    width:15vw;
    margin:2rem auto;
    /* border:1px solid #FF9900;/ */
}
.download_con button{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9900;
    color:#fff;
    border:none;
    text-align: center;
    border-radius: 6px;
    padding:0.8rem 2rem;
    font-size:1rem;
    cursor:pointer;
}
.download_con button svg{
    width:1.2em;
    height:1.2em;
}
.download_con .download-links{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    padding:1rem;
    background-color: #fff;
}
.download_con .download-links li{
    list-style:none;
    margin:1rem auto;
}
.download_con .download-links li a{
    text-decoration:none;
    color:#676464;
    font-size:1.1rem;
    font-weight:600;
}
.download_con .download-links li a svg{
    font-size:1.1rem;
    font-weight:600;
}



/* ******************************************************** */


.unit_con{
    width:85vw;
    margin:2rem auto;
    display: flex;
    padding:0.5rem 1rem;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(89,89,89,0.6);
}
.unit_con span{
    text-transform: uppercase;
}
.unit_con a button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color:#fff;
    border:none;
    text-align: center;
    border-radius:6px;
    padding:0.8rem 2rem;
    font-size:1rem;
    cursor:pointer;
}