.download_con{
    position: relative;
    width:15vw;
    margin:2rem auto;
    border:1px solid #FF9900;
}
.download_con button{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF9900;
    color:#fff;
    border:none;
    text-align: center;
    border-radius: 6px;
    padding:0.8rem 2rem;
    font-size:1rem;
    cursor:pointer;
}
.download_con button svg{
    width:1.2em;
    height:1.2em;
}
.download_con .download-links{
    position: absolute;
    top:50%;
    left: 0%;
    width:100%;
    padding:1rem;
    background-color: #fff;
}
.download_con .download-links li{
    list-style:none;
    text-align: center;
    margin:0.8rem auto;
}
.download_con .download-links li a{
    text-decoration:none;
    color:#676464;
    font-size:1.1rem;
    font-weight:600;
}
.download_con .download-links li a svg{
    font-size:1.1rem;
    font-weight:600;
}