.teacherCourses_container{
    width:100%;
    height: auto;
}
.Courses.grid_container{
    width:90%;
    display:grid;
    gap:1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) ) ;
    margin:1.5rem auto;
}

.teacherCourses_container .heading{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:7vh;
    margin-inline: auto;
} 
.teacherCourses_container .heading h3{
    font-size:1.2rem;
    font-weight:600;
    text-align: center;
}
.teacherCourses_container .heading .Formbutton{
    background-color:#15A6FF;
    border:none;
    color: #fff;
    width: 200px;
    padding:0.6rem 0.3rem;
    border-radius:1.5rem;
    cursor:pointer;
    outline:none;
    margin: 0 !important;
}
.teacherCourses_container .heading .Formbutton a{
    text-decoration: none;
    color:#fff ;
    font-size:0.9rem;
}
.teacherCourses_container .heading .Formbutton svg{
    width:1.1rem;
    height:1.1rem;
    margin-left:0.2rem ;
}
.Courses.grid_container div{
    height:280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    border:0.5px solid rgba(71, 70, 70, 0.25);
    border-radius:0.5rem;
    padding:1.5rem;
    transition: all 0.3s linear;
}
.Courses.grid_container div:hover{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}
.Courses.grid_container div img{
    width: 5rem;
    height:5rem;
    object-fit: cover;
    margin:1rem auto;
}
.Courses.grid_container div .title{
    font-size:1.1rem;
    line-height:1.5rem;
    font-weight:600;
    text-align: center;
    margin:0.8rem auto 0.5rem;
}
.Courses.grid_container div .sem{
    font-size:1rem;
    font-weight:600;
    margin:0.5rem auto 0.8rem;
    color:#ff9900;
}
.teacherCourses_container .grid_container div .Formbutton{
    display: block;
    background-color:#000;
    color: #fff;
    width:9rem;
    padding:0.4rem;
    border-radius:1.5rem;
    margin-top:0.8rem;
}