.submenu {
  width:300px;
  position: absolute;
  top:110%;
  list-style: none;
  background:#fff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  transition:all 0.3s ease-in-out;
  padding:15px 10px;
  text-align:start;
}
.submenu li {
  width:98%;
  margin:6px auto;
  cursor: pointer;
  padding:5px;
}
.submenu li a{
  text-align: start;
  text-decoration: none;
  color:#000;
  font-size:14px;
  transition: all 0.5s linear;
}
.submenu li:hover a{
  margin-right:0;
  border-radius:0;
  color:var(--color2);
}
.submenu.clicked {
  display: none;
}

