header{
  position: sticky;
  top: 0%;
  left:0%;
  z-index: 900;
  background:var(--bg-primary);
}
.navbar {
  height:8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 0% 2.5rem;
}
.navbar-logo {
  color:var(--text-color);
  text-decoration: none;
  font-size:2.1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Calvier";
  font-style: normal;
  line-height: 50px;
}
.navbar-logo span {
  color: #ff9900;
  font-family: "Calvier";
  font-style: normal;
  font-weight: 800;
  font-size:2.1rem;
  line-height: 50px;
}
.navbar .menu-container {
  display: flex;
  flex-direction: row;
}
.nav-items {
  display: flex;
  list-style: none;
  margin: auto 3rem auto 0;
}
.nav-items .nav-item {
  position: relative;
  margin: auto 1.2rem;
  padding: 0.3rem 1rem;
  text-align: center;
}
.nav-items .nav-item::after {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0%;
  width: 0%;
  height: 10%;
  background-color: var(--color2);
  transition: all 0.5s ease;
}
.nav-items .nav-item:hover::after {
  width: 100%;
}
.nav-item a {
  text-decoration: none;
  color:var(--text-color);
  font-weight:550;
  font-size: 1.2rem;
  font-family: "inter";
  padding: 0%;
  cursor: pointer;
}
.scrolled-navbar {
  background-color:#fff;
  color: #000;
}
.scrolled-navbar .nav-item a {
  color: #000;
}
.scrolled-navbar .navbar-logo {
  color: #000;
}
.btnBlock.visible {
  display: block;
}
.btnBlock.hidden {
  display: block;
}

/* ***************************************************************************************************************************************************** */


.navbar2 {
  width:100%;
  background:#ffffff !important ;
} 
.navbar2 .navbar-logo {
  color:#000 !important;
}



