.CourseForm_Container {
  width: 75vw;
  background-color: #ffffff;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
  border-radius: 25px;
  padding:1.5rem;
  margin:1rem auto auto;
}
.CourseForm_Container h2 {
  text-align: center;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.CourseForm_Container .Courseform_Wrapper {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}
.CourseForm_Container .Courseform_Wrapper .left_side {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1.2rem;
}
.CourseForm_Container .Courseform_Wrapper .left_side .quote_bx {
  font-family: "Solway";
  font-style: normal;
  font-weight: 500;
  font-size:0.95rem;
  line-height:1.3rem;
  text-align: center;
  letter-spacing: 0.35px;
  color: rgba(73, 73, 73, 0.48);
}
.CourseForm_Container .Courseform_Wrapper .left_side .quote_bx blockquote{
    margin:0.6rem auto;
}
.CourseForm_Container .Courseform_Wrapper .right_side {
  flex-basis: 60%;
}
.CourseForm_Container .Courseform_Wrapper .left_side .Imgbx {
  max-width: 280px;
}
.CourseForm_Container .Courseform_Wrapper .left_side .Imgbx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CourseForm_Container
  .Courseform_Wrapper
  .right_side
  form
  > div:first-child
  input {
  display: block;
  width: 100%;
}

.CourseForm_Container .Courseform_Wrapper .right_side form #row_col_area > div {
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  justify-content: space-between;
  align-items: center;
}
.CourseForm_Container .Courseform_Wrapper .right_side form #row_col_area > div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:0.2rem 0;
}
.CourseForm_Container .Courseform_Wrapper .right_side form #row_col_area> div div input {
  width: 280px;
}
.CourseForm_Container .Courseform_Wrapper .right_side form input[type="file"] {
  display: none;
}
.CourseForm_Container .Courseform_Wrapper .right_side form .description {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.CourseForm_Container .Courseform_Wrapper .right_side form .description input {
  height: 150px;
  text-align: start;
}
.CourseForm_Container .Courseform_Wrapper .right_side form .Formbutton {
  background-color: #ff9900;
  color: #ffff;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  padding: 0.6rem 0.3rem;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0px 5px 6px rgba(50, 50, 93, 0.11);
  align-self: flex-start;
  margin:1rem 0 0rem;
}
.CourseForm_Container .Courseform_Wrapper .right_side form label {
  font-size: 1.1rem;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
}
.CourseForm_Container .Courseform_Wrapper .right_side form input {
  margin: 0.6rem 0;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgba(136, 152, 170, 0.55);
  box-shadow: 0px 1px 2px rgba(50, 50, 93, 0.12);
  outline: none;
}
.CourseForm_Container .Courseform_Wrapper .right_side form .uploadfile {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #ffff;
  padding: 0.4rem 0.5rem;
  font-size: 0.9rem;
  width: 180px;
  text-align: center;
  border-radius: 6px;
  cursor:pointer;

}
.CourseForm_Container .Courseform_Wrapper .right_side form .uploadfile img {
  width: 2rem;
}
.CourseForm_Container .Courseform_Wrapper .right_side form > div {
  margin: 0.3rem 0;
}
